<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	
	<!-- view层配置 velocity cfg -->
	<!--&lt;!&ndash; 配置velocity引擎 &ndash;&gt;
    <bean id="velocityCfg" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        &lt;!&ndash; 模板存放的路径 &ndash;&gt;
        <property name="resourceLoaderPath" value="/WEB-INF/vm/" />
        &lt;!&ndash; Velocity配置文件 &ndash;&gt;
		<property name="velocityProperties">
			<props>
				&lt;!&ndash; 指定模板引擎进行模板处理的编码 &ndash;&gt;
				<prop key="input.encoding">${default.charset}</prop>
				&lt;!&ndash; 指定输出流的编码 &ndash;&gt;
				<prop key="output.encoding">${default.charset}</prop>
				&lt;!&ndash;指定 contentType &ndash;&gt;
				<prop key="contentType">text/html;charset=${default.charset}</prop>
				&lt;!&ndash;指定 定宏定义位置 &ndash;&gt;
				<prop key="velocimacro.library">common/macro.vm</prop>
				&lt;!&ndash; 指定foreach 计数器名称&ndash;&gt;
				<prop key="directive.foreach.counter.name">velocityCount</prop>
				&lt;!&ndash; 指定foreach 计数器初始值 2.0版本已被移除,使用 $foreach.index代替 &ndash;&gt;
				&lt;!&ndash; <prop key="directive.foreach.counter.initial.value">0</prop> &ndash;&gt;
			</props>
		</property>
    </bean>
   &lt;!&ndash; 配置velocity的试图解析 &ndash;&gt;
   <bean id="velocityViewResolver" class = "org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
   		 <property name="layoutUrl" value="layout/default.vm" />
         <property name="order" value="0" />
         <property name="contentType" value="text/html;charset=${default.charset}" />
		 &lt;!&ndash; velocity是否使用缓存&ndash;&gt;
		 <property name="cache" value="false" />
		 &lt;!&ndash; velocity文件的后缀名&ndash;&gt;
		 <property name="suffix" value=".vm" />
		 &lt;!&ndash;是否使用spring对宏定义的支持&ndash;&gt;
		 <property name="exposeSpringMacroHelpers" value="true" />
		 &lt;!&ndash;是否开放request属性&ndash;&gt;
		  <property name="exposeRequestAttributes" value="true" />
		  &lt;!&ndash;request属性引用名称&ndash;&gt;
          <property name="requestContextAttribute" value="requestContext"/>
          &lt;!&ndash;日期函数名称&ndash;&gt;
		 <property name="dateToolAttribute" value="dateTool" />
		 &lt;!&ndash;数字函数名称&ndash;&gt;
		 <property name="numberToolAttribute" value="numberTool" />
    </bean>

	&lt;!&ndash;JSP视图配置&ndash;&gt;
	<bean id="jspView" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="contentType" value="text/html;charset=${default.charset}" />
		<property name="prefix" value="/WEB-INF/view/"/>
		<property name="suffix" value=".jsp"/>
		<property name="order" value="10" />
	</bean>-->

	<!-- 配置spring视图解析器 -->
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager">
			<bean class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
				<!-- 设置为true以忽略对Accept Header的支持 -->
				<property name="ignoreAcceptHeader" value="true" />
				<!-- 用于开启 /blog/123?format=json 的支持 -->
				<property name="favorParameter" value="false" />
				<!-- 在没有扩展名时即: "/blog/1" 时的默认展现形式 -->
				<property name="defaultContentType" value="text/html" />
				<!-- 扩展名至mimeType的映射,即 /blog.json => application/json -->
				<property name="mediaTypes">
					<value>
						pdf=application/pdf
						xsl=application/vnd.ms-excel
						xml=application/xml
						html=text/html
						json=application/json
					</value>
				</property>
			</bean>
		</property>


		<!--<property name="viewResolvers">
			<list>
				<ref bean="velocityViewResolver" />
				<ref bean="jspView"/>
			</list>
		</property>-->
		<property name="defaultViews">
			<list>
				<!-- for application/json -->
				<!-- <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" /> -->
				<bean class="com.alibaba.fastjson.support.spring.FastJsonJsonView" />
			</list>
		</property>
	</bean>
</beans>